body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.fast{
    display: flex; 
    margin-top: -40px;
}
.section-div{
    width: 70%;
    padding-left: 20px;
    padding-bottom: 60px;
}
.section-div-2{
    width: 50%;
    padding-left: 60px;
}
h1{
    font-size: 45px;
}
.other-color{
    color: rgba(236, 18, 181, 0.774);
}
.fast{
    padding: 40px;
}
.section-img{
    width: 80%;
}
.section-img-2{
    width: 80;
}
.button{
    color: white;
    background-image: linear-gradient(rgba(236, 18, 181, 0.774), rgba(196, 67, 201, 0.507));
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 50px;
    font-weight: 700;
}
.about-text{
    font-size: 40px;
}
.banner{
    background-image: url(food-network-main/images/shapes/Frame\ 58.jpg);
}
/* section-three */
.foodi-bg1{
    background-image: linear-gradient(rgb(253, 237, 246), rgb(255, 255, 255));
}
.foodi-bg{
    background: url(img/foodi-bg.jpg) no-repeat;
}
.half-width.about img {
    width: 99%;
}
.half-width.about {
    height: 145px;
}
.half-width p {
    margin-bottom: 65px;
}
.recipie-collum{
    display: flex;
}


/* our-recipe */
.recipe{
    width: 90%;
    margin: 0 auto;
}
.recipie-area h2 {
    margin-bottom: 20px;
    margin-top: 80px;
    margin-left: 0px;
}
.recipie-area h3 {
    font-size: 22px;
    font-weight: 700;
    text-align: justify;
}
.recipie-area{
    text-align: center;
}
.recipe-name{
    margin-left: 35px;
    text-align: left;
}
.recipe-img img {
    box-shadow: 0px 0px 4px #d6cfcf;
    border-radius: 10px;
    width: 220px;
    padding: 8px;
    width: 80%;
    box-shadow: 10px 10px 40px #dedbdb;
    padding: 3%;
    margin: 0px 20px;
    border-radius: 28px;
}
.three{
    padding-top: 55px;
}
.flexible{
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 100px;
    padding-top: 50px;
    box-shadow: 5px 15px 150px #dedbdb;
    border-radius: 20px;
}
.recipie-collum{
    display: flex;
    padding-bottom: 100px;
    padding-top: 50px;
}
/* counter-section  */

.facebook .Youtube .twitter{
    box-shadow: none;
}
.follower-counter{
    text-align: center;
    box-shadow: 5px 10px 40px #dedbdb;
    padding: 3%;
    width: 70%;
    margin: 0 auto;
    border-radius: 28px;
    padding: 0px 30px;
    display: flex;
    margin-bottom: 150px;
}
.width{
    width: 25%;
    box-shadow: 10px 10px 40px #dedbdb;
    padding: 4%;
    margin: 80px 10px;
    border-radius: 30px;
}
/* last-section */
.last-section{
    background: #0b0E17;
    padding-top: 50px;
    padding-bottom: 100px;
}
.footer{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.footer h3{
    color: rgb(226, 219, 219);
}
.footer p{
    color: white;
}